<h3>Parent-Child Relationship</h3>
<table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
        <td><button (click)="onViewDetails(customer)">View Details</button></td>
      </tr>
    </tbody>
  </table>

  <!-- <app-customertable (customerSelected)="onCustomerSelected($event)"></app-customertable> -->
  <app-customerdetails [customer]="customerSelected"></app-customerdetails>
  